.stack-work/
.parcel-cache/
dist/
elm-stuff/
node_modules/
bin/
backend/static/backend/public/index.92d41d6d.js backend/public/index.92d41d6d.js.map backend/public/index.html
dist-newstyle
backend/stack/
